<log4net>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="c:\Temp\logs\cookbook.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1MB" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%identity] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="WARN" />
  </root>
  <logger name="Cookbook">
    <level value="DEBUG" />
    <appender-ref ref="file" />
  </logger>
</log4net>